<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.propertygrid.wpf" version="31.2.12" />
  <package id="syncfusion.sfaccordion.wpf" version="31.2.12" />
  <package id="syncfusion.sfchart.wpf" version="31.2.12" />
  <package id="syncfusion.sftreenavigator.wpf" version="31.2.12" />
  <package id="syncfusion.tools.wpf" version="31.2.12" />
  <package id="syncfusion.sfnavigationdrawer.wpf" version="31.2.12" />
  <package id="syncfusion.sfradialmenu.wpf" version="31.2.12" />
  <package id="syncfusion.sftreeview.wpf" version="31.2.12" />
</packages>