<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.propertygrid.wpf" version="34.1.29" />
  <package id="syncfusion.sfaccordion.wpf" version="34.1.29" />
  <package id="syncfusion.sfchart.wpf" version="34.1.29" />
  <package id="syncfusion.sfnavigationdrawer.wpf" version="34.1.29" />
  <package id="syncfusion.sfradialmenu.wpf" version="34.1.29" />
  <package id="syncfusion.sftreeview.wpf" version="34.1.29" />
  <package id="syncfusion.sftreenavigator.wpf" version="34.1.29" />
  <package id="syncfusion.tools.wpf" version="34.1.29" />
</packages>