<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.data.wpf" version="32.2.3" />
  <package id="syncfusion.grid.wpf" version="32.2.3" />
  <package id="syncfusion.gridcommon.wpf" version="32.2.3" />
  <package id="syncfusion.linq.base" version="32.2.3" />
  <package id="syncfusion.pivotanalysis.base" version="32.2.3" />
  <package id="Syncfusion.PivotTable.Wpf" version="32.2.3" />
  <package id="Syncfusion.PivotTableExport.Wpf" version="32.2.3" />
  <package id="syncfusion.sfgrid.wpf" version="32.2.3" />
  <package id="syncfusion.shared.wpf.classic" version="32.2.3" />
  <package id="syncfusion.tools.wpf" version="32.2.3" />
  <package id="Syncfusion.Pdf.Wpf" version="32.2.3" />
  <package id="Syncfusion.DocIO.Wpf" version="32.2.3" />
  <package id="syncfusion.tools.wpf.classic" version="32.2.3" />
  <package id="Syncfusion.XlsIO.Wpf" version="32.2.3" />
  <package id="syncfusion.officechart.base" version="32.2.3" />
  <package id="syncfusion.compression.base" version="32.2.3" />
</packages>