<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfskinmanager.wpf" version="18.1.0.42" />
  <package id="syncfusion.samplelayout.wpf" version="18.1.0.42" />
  <package id="syncfusion.sfbusyindicator.wpf" version="18.1.0.42" />
  <package id="syncfusion.sfshared.wpf" version="18.1.0.42" />
  <package id="syncfusion.shared.wpf" version="18.1.0.42" />
  <package id="syncfusion.tools.wpf" version="18.1.0.42" />
  <package id="syncfusion.licensing" version="18.1.0.42" />
</packages>