<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="offlineCube" connectionString="datasource=absoulute path of the offline cube file; provider=msolap" />
    <add name="onlineCube" connectionString="Datasource=localhost;Initial Catalog=Adventure Works DW" />
  </connectionStrings>
</configuration>