<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.licensing" version="32.1.19" />
  <package id="syncfusion.sfbusyindicator.wpf" version="32.1.19" />
  <package id="syncfusion.sfcolorpalette.wpf" version="32.1.19" />
  <package id="syncfusion.sfdiagram.wpf" version="32.1.19" />
  <package id="syncfusion.sfinput.wpf" version="32.1.19" />
  <package id="syncfusion.shared.wpf" version="32.1.19" />
</packages>