<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.1.0.52" />
  <package id="syncfusion.shared.wpf" version="18.1.0.52" />
  <package id="Syncfusion.DocIO.Wpf" version="18.1.0.52" />
  <package id="Syncfusion.DocToPDFConverter.Wpf" version="18.1.0.52" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.52" />
  <package id="syncfusion.officechart.base" version="18.1.0.52" />
  <package id="syncfusion.officecharttoimageconverter.wpf" version="18.1.0.52" />
  <package id="syncfusion.sfchart.wpf" version="18.1.0.52" />
  <package id="syncfusion.licensing" version="18.1.0.52" />
</packages>