<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.reportcontrols.wpf" version="18.1.0.52" />
  <package id="syncfusion.reportdesigner.wpf" version="18.1.0.52" />
  <package id="syncfusion.reportviewer.wpf" version="18.1.0.52" />
  <package id="syncfusion.reportwriter.base" version="18.1.0.52" />
  <package id="syncfusion.shared.base" version="18.1.0.52" />
  <package id="syncfusion.shared.windows" version="18.1.0.52" />
  <package id="syncfusion.shared.wpf" version="18.1.0.52" />
  <package id="syncfusion.tools.windows" version="18.1.0.52" />
  <package id="syncfusion.chart.wpf" version="18.1.0.52" />
  <package id="syncfusion.gauge.wpf" version="18.1.0.52" />
  <package id="syncfusion.grid.wpf" version="18.1.0.52" />
  <package id="syncfusion.sfmaps.wpf" version="18.1.0.52" />
  <package id="syncfusion.gridcommon.wpf" version="18.1.0.52" />
  <package id="syncfusion.linq.base" version="18.1.0.52" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.1.0.52" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.52" />
  <package id="Syncfusion.Presentation.Wpf" version="18.1.0.52" />
  <package id="Syncfusion.DocIO.Wpf" version="18.1.0.52" />
  <package id="syncfusion.grid.windows" version="18.1.0.52" />
  <package id="syncfusion.spellchecker.base" version="18.1.0.52" />
  <package id="syncfusion.grid.base" version="18.1.0.52" />
  <package id="syncfusion.tools.base" version="18.1.0.52" />
  <package id="syncfusion.tools.wpf" version="18.1.0.52" />
  <package id="Syncfusion.RichTextBoxAdv.Wpf.Classic" version="18.1.0.52" />
  <package id="syncfusion.compression.base" version="18.1.0.52" />
  <package id="syncfusion.officechart.base" version="18.1.0.52" />
  <package id="syncfusion.licensing" version="18.1.0.52" />
</packages>