<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.1.0.42" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.42" />
  <package id="syncfusion.pdfviewer.wpf" version="18.1.0.42" />
  <package id="syncfusion.sfskinmanager.wpf" version="18.1.0.42" />
  <package id="syncfusion.shared.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.materialdark.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.materiallight.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.blend.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.metro.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2010black.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2010blue.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2010silver.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2013darkgray.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2013lightgray.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.office2013white.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.visualstudio2013.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.lime.wpf" version="18.1.0.42" />
  <package id="syncfusion.themes.saffron.wpf" version="18.1.0.42" />
  <package id="syncfusion.licensing" version="18.1.0.42" />
</packages>