<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfchat.wpf" version="32.2.3" />
  <package id="syncfusion.sftextinputlayout.wpf" version="32.2.3" />
  <package id="syncfusion.tools.wpf" version="32.2.3" />
  <package id="syncfusion.shared.wpf.classic" version="32.2.3" />
  <package id="syncfusion.tools.wpf.classic" version="32.2.3" />
  <package id="syncfusion.calculate.base" version="32.2.3" />
  <package id="syncfusion.compression.base" version="32.2.3" />
  <package id="syncfusion.data.wpf" version="32.2.3" />
  <package id="Syncfusion.DocIO.Wpf" version="32.2.3" />
  <package id="Syncfusion.XlsIO.Wpf" version="32.2.3" />
  <package id="syncfusion.edit.wpf" version="32.2.3" />
  <package id="syncfusion.gantt.wpf" version="32.2.3" />
  <package id="syncfusion.sfgauge.wpf" version="32.2.3" />
  <package id="syncfusion.grid.wpf" version="32.2.3" />
  <package id="syncfusion.gridcommon.wpf" version="32.2.3" />
  <package id="Syncfusion.GridExcelExport.Wpf" version="32.2.3" />
  <package id="syncfusion.linq.base" version="32.2.3" />
  <package id="syncfusion.officechart.base" version="32.2.3" />
  <package id="Syncfusion.Pdf.Wpf" version="32.2.3" />
  <package id="syncfusion.pdfviewer.wpf" version="32.2.3" />
  <package id="syncfusion.pivotanalysis.base" version="32.2.3" />
  <package id="Syncfusion.PivotTable.Wpf" version="32.2.3" />
  <package id="Syncfusion.PivotTableExport.Wpf" version="32.2.3" />
  <package id="Syncfusion.PMML.Wpf" version="32.2.3" />
  <package id="syncfusion.projio.base" version="32.2.3" />
  <package id="syncfusion.propertygrid.wpf" version="32.2.3" />
  <package id="syncfusion.sfaccordion.wpf" version="32.2.3" />
  <package id="syncfusion.sfbarcode.wpf" version="32.2.3" />
  <package id="syncfusion.sfbulletgraph.wpf" version="32.2.3" />
  <package id="syncfusion.sfcellgrid.wpf" version="32.2.3" />
  <package id="syncfusion.sfchart.wpf" version="32.2.3" />
  <package id="syncfusion.sfchromelesswindow.wpf" version="32.2.3" />
  <package id="syncfusion.sfcolorpalette.wpf" version="32.2.3" />
  <package id="syncfusion.sfdiagram.wpf" version="32.2.3" />
  <package id="syncfusion.sfdiagramribbon.wpf" version="32.2.3" />
  <package id="syncfusion.sfgrid.wpf" version="32.2.3" />
  <package id="syncfusion.sfgridcommon.wpf" version="32.2.3" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="32.2.3" />
  <package id="syncfusion.sfheatmap.wpf" version="32.2.3" />
  <package id="syncfusion.sfhubtile.wpf" version="32.2.3" />
  <package id="syncfusion.sfimageeditor.wpf" version="32.2.3" />
  <package id="syncfusion.sfkanban.wpf" version="32.2.3" />
  <package id="syncfusion.sfmaps.wpf" version="32.2.3" />
  <package id="syncfusion.sfnavigationdrawer.wpf" version="32.2.3" />
  <package id="syncfusion.sfprogressbar.wpf" version="32.2.3" />
  <package id="syncfusion.sfradialmenu.wpf" version="32.2.3" />
  <package id="syncfusion.sfscheduler.wpf" version="32.2.3" />
</packages>