<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.1.0.52" />
  <package id="syncfusion.gridcommon.wpf" version="18.1.0.52" />
  <package id="syncfusion.linq.base" version="18.1.0.52" />
  <package id="syncfusion.sfcellgrid.wpf" version="18.1.0.52" />
  <package id="syncfusion.sfgrid.wpf" version="18.1.0.52" />
  <package id="syncfusion.sfspreadsheet.wpf" version="18.1.0.52" />
  <package id="syncfusion.shared.wpf" version="18.1.0.52" />
  <package id="syncfusion.tools.wpf" version="18.1.0.52" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.1.0.52" />
  <package id="syncfusion.sfgridcommon.wpf" version="18.1.0.52" />
  <package id="syncfusion.data.wpf" version="18.1.0.52" />
  <package id="syncfusion.licensing" version="18.1.0.52" />
</packages>