<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.1.0.52" />
  <package id="syncfusion.officechart.base" version="18.1.0.52" />
  <package id="syncfusion.docio.clientprofile" version="18.1.0.52" />
  <package id="syncfusion.sfrichtextboxadv.wpf" version="18.1.0.52" />
  <package id="syncfusion.sfrichtextribbon.wpf" version="18.1.0.52" />
  <package id="syncfusion.shared.wpf" version="18.1.0.52" />
  <package id="syncfusion.tools.wpf" version="18.1.0.52" />
  <package id="syncfusion.licensing" version="18.1.0.52" />
  <package id="Syncfusion.DocIO.Wpf" version="18.1.0.52" />
</packages>