<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfgauge.wpf" version="32.2.3" />
  <package id="syncfusion.sfskinmanager.wpf" version="32.2.3" />
  <package id="syncfusion.shared.wpf" version="32.2.3" />
  <package id="syncfusion.themes.materialdark.wpf" version="32.2.3" />
</packages>