<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="32.2.3" />
  <package id="syncfusion.licensing" version="32.2.3" />
  <package id="Syncfusion.Pdf.Wpf" version="32.2.3" />
  <package id="syncfusion.sfdiagram.wpf" version="32.2.3" />
  <package id="syncfusion.sfskinmanager.wpf" version="32.2.3" />
  <package id="syncfusion.shared.wpf" version="32.2.3" />
  <package id="syncfusion.themes.fluentlight.wpf" version="32.2.3" />
  <package id="syncfusion.tools.wpf" version="32.2.3" />
</packages>