<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.chart.base" version="34.2.2" />
  <package id="syncfusion.chart.wpf" version="34.2.2" />
  <package id="syncfusion.compression.base" version="34.2.2" />
  <package id="Syncfusion.DocIO.Wpf" version="34.2.2" />
  <package id="syncfusion.linq.base" version="34.2.2" />
  <package id="syncfusion.officechart.base" version="34.2.2" />
  <package id="syncfusion.markdown" version="34.2.2" />
  <package id="syncfusion.olap.base" version="34.2.2" />
  <package id="syncfusion.olapchart.wpf" version="34.2.2" />
  <package id="Syncfusion.ExportOlapChart.Wpf" version="34.2.2" />
  <package id="syncfusion.olapsampleutils" version="34.2.2" />
  <package id="syncfusion.olapshared.wpf" version="34.2.2" />
  <package id="syncfusion.olaptools.wpf" version="34.2.2" />
  <package id="Syncfusion.Pdf.Wpf" version="34.2.2" />
  <package id="syncfusion.tools.wpf" version="34.2.2" />
  <package id="syncfusion.shared.wpf.classic" version="34.2.2" />
  <package id="syncfusion.tools.wpf.classic" version="34.2.2" />
</packages>