<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core" publicKeyToken="632609B4D040F6B4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.103.0.28" newVersion="7.103.0.28"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
