<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfchart.wpf" version="34.2.2" />
  <package id="syncfusion.compression.base" version="34.2.2" />
  <package id="syncfusion.sfgauge.wpf" version="34.2.2" />
  <package id="syncfusion.gridcommon.wpf" version="34.2.2" />
  <package id="Syncfusion.GridExcelExport.Wpf" version="34.2.2" />
  <package id="syncfusion.linq.base" version="34.2.2" />
  <package id="syncfusion.grid.wpf" version="34.2.2" />
  <package id="Syncfusion.Pdf.Wpf" version="34.2.2" />
  <package id="syncfusion.tools.wpf" version="34.2.2" />
  <package id="Syncfusion.XlsIO.Wpf" version="34.2.2" />
  <package id="syncfusion.markdown" version="34.2.2" />
</packages>