<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfdiagram.wpf" version="16.4.0.42" />
  <package id="syncfusion.sfcolorpalette.wpf" version="16.4.0.42" />
  <package id="syncfusion.sfradialmenu.wpf" version="16.4.0.42" />
  <package id="syncfusion.sfshared.wpf" version="16.4.0.42" />
  <package id="syncfusion.sfinput.wpf" version="16.4.0.42" />
  <package id="syncfusion.sfbusyindicator.wpf" version="16.4.0.42" />
  <package id="syncfusion.shared.wpf" version="16.4.0.42" />
  <package id="syncfusion.licensing" version="16.4.0.42" />
</packages>