<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.gantt.wpf" version="17.3.0.14" />
  <package id="syncfusion.grid.wpf" version="17.3.0.14" />
  <package id="syncfusion.linq.base" version="17.3.0.14" />
  <package id="syncfusion.gridcommon.wpf" version="17.3.0.14" />
  <package id="syncfusion.projio.base" version="17.3.0.14" />
  <package id="syncfusion.samplelayout" version="17.3.0.14" />
  <package id="syncfusion.shared.wpf" version="17.3.0.14" />
  <package id="syncfusion.vectorimages.wpf" version="17.3.0.14" />
  <package id="syncfusion.licensing" version="17.3.0.14" />
</packages>