<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.1.0.42" />
  <package id="Syncfusion.ExcelToPdfConverter.Wpf" version="18.1.0.42" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.42" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.1.0.42" />
  <package id="syncfusion.shared.wpf" version="18.1.0.42" />
  <package id="syncfusion.excelcharttoimageconverter.wpf" version="18.1.0.42" />
  <package id="syncfusion.sfchart.wpf" version="18.1.0.42" />
  <package id="syncfusion.licensing" version="18.1.0.42" />
</packages>