<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="18.2.0.44" />
  <package id="syncfusion.shared.wpf" version="18.2.0.44" />
  <package id="Syncfusion.Pdf.Wpf" version="18.2.0.44" />
  <package id="syncfusion.licensing" version="18.2.0.44" />
</packages>