<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.gridcommon.wpf" version="17.3.0.14" />
  <package id="syncfusion.grid.wpf" version="17.3.0.14" />
  <package id="syncfusion.linq.base" version="17.3.0.14" />
  <package id="syncfusion.olap.base" version="17.3.0.14" />
  <package id="syncfusion.olap.mvvm.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapgrid.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapsampleutils" version="17.3.0.14" />
  <package id="syncfusion.shared.wpf" version="17.3.0.14" />
  <package id="syncfusion.shared.mvvm.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapgridcommon.wpf" version="17.3.0.14" />
  <package id="syncfusion.tools.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapchart.wpf" version="17.3.0.14" />
  <package id="Syncfusion.PivotTable.Wpf" version="17.3.0.14" />
  <package id="syncfusion.propertygrid.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapshared.wpf" version="17.3.0.14" />
  <package id="syncfusion.chart.wpf" version="17.3.0.14" />
  <package id="syncfusion.pivotanalysis.base" version="17.3.0.14" />
  <package id="syncfusion.licensing" version="17.3.0.14" />
</packages>