<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.303.0.431" newVersion="10.303.0.431"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Tools.Wpf" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.303.0.431" newVersion="10.303.0.431"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
