<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.data.wpf" version="31.2.2" />
  <package id="syncfusion.sfchart.wpf" version="31.2.2" />
  <package id="syncfusion.sfgrid.wpf" version="31.2.2" />
  <package id="syncfusion.compression.base" version="31.2.2" />
  <package id="Syncfusion.XlsIO.Wpf" version="31.2.2" />
  <package id="Syncfusion.Pdf.Wpf" version="31.2.2" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="31.2.2" />
  <package id="syncfusion.sfprogressbar.wpf" version="31.2.2" />
</packages>