<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="17.3.0.14" />
  <package id="syncfusion.officechart.base" version="17.3.0.14" />
  <package id="Syncfusion.Presentation.Wpf" version="17.3.0.14" />
  <package id="syncfusion.shared.wpf" version="17.3.0.14" />
  <package id="syncfusion.licensing" version="17.3.0.14" />
</packages>