<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="17.4.0.39" />
  <package id="syncfusion.officechart.base" version="17.4.0.39" />
  <package id="syncfusion.docio.clientprofile" version="17.4.0.39" />
  <package id="syncfusion.sfrichtextboxadv.wpf" version="17.4.0.39" />
  <package id="syncfusion.sfrichtextribbon.wpf" version="17.4.0.39" />
  <package id="syncfusion.shared.wpf" version="17.4.0.39" />
  <package id="syncfusion.tools.wpf" version="17.4.0.39" />
  <package id="syncfusion.licensing" version="17.4.0.39" />
  <package id="Syncfusion.DocIO.Wpf" version="17.4.0.39" />
</packages>