<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.gauge.wpf" version="32.1.19" />
  <package id="syncfusion.olap.base" version="32.1.19" />
  <package id="syncfusion.olapgauge.wpf" version="32.1.19" />
  <package id="syncfusion.olapsampleutils" version="32.1.19" />
  <package id="syncfusion.olapshared.wpf" version="32.1.19" />
  <package id="syncfusion.linq.base" version="32.1.19" />
  <package id="syncfusion.tools.wpf" version="32.1.19" />
  <package id="syncfusion.shared.wpf.classic" version="32.1.19" />
  <package id="syncfusion.tools.wpf.classic" version="32.1.19" />
</packages>