<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfchart.wpf" version="31.2.2" />
  <package id="syncfusion.sfgauge.wpf" version="31.2.2" />
  <package id="syncfusion.sfmaps.wpf" version="31.2.2" />
  <package id="syncfusion.sfskinmanager.wpf" version="31.2.2" />
  <package id="syncfusion.shared.wpf" version="31.2.2" />
  <package id="syncfusion.themes.office2019colorful.wpf" version="31.2.2" />
</packages>