<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.grid.wpf" version="18.1.0.42" />
  <package id="syncfusion.gridcommon.wpf" version="18.1.0.42" />
  <package id="syncfusion.samplelayout" version="18.1.0.42" />
  <package id="syncfusion.shared.wpf" version="18.1.0.42" />
  <package id="syncfusion.linq.base" version="18.1.0.42" />
  <package id="syncfusion.licensing" version="18.1.0.42" />
</packages>