<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="31.2.12" />
  <package id="syncfusion.gridcommon.wpf" version="31.2.12" />
  <package id="Syncfusion.Pdf.Wpf" version="31.2.12" />
  <package id="syncfusion.sfdiagram.wpf" version="31.2.12" />
  <package id="syncfusion.sfdiagramribbon.wpf" version="31.2.12" />
  <package id="syncfusion.sfskinmanager.wpf" version="31.2.12" />
  <package id="syncfusion.sftreeview.wpf" version="31.2.12" />
  <package id="syncfusion.shared.wpf" version="31.2.12" />
  <package id="syncfusion.themes.office2019white.wpf" version="31.2.12" />
  <package id="syncfusion.themes.office2019darkgray.wpf" version="31.2.12" />
  <package id="syncfusion.themes.office2019highcontrast.wpf" version="31.2.12" />
  <package id="syncfusion.tools.wpf" version="31.2.12" />
  <package id="syncfusion.themes.materialdark.wpf" version="31.2.12" />
  <package id="syncfusion.themes.materialdarkblue.wpf" version="31.2.12" />
  <package id="syncfusion.themes.materiallight.wpf" version="31.2.12" />
  <package id="syncfusion.themes.materiallightblue.wpf" version="31.2.12" />
  <package id="syncfusion.themes.office2019black.wpf" version="31.2.12" />
  <package id="syncfusion.themes.office2019colorful.wpf" version="31.2.12" />
</packages>