<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="17.3.0.14" />
  <package id="syncfusion.officechart.base" version="17.3.0.14" />
  <package id="syncfusion.docio.clientprofile" version="17.3.0.14" />
  <package id="syncfusion.sfrichtextboxadv.wpf" version="17.3.0.14" />
  <package id="syncfusion.sfrichtextribbon.wpf" version="17.3.0.14" />
  <package id="syncfusion.shared.wpf" version="17.3.0.14" />
  <package id="syncfusion.tools.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.blend.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.metro.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2010black.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2010blue.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2010silver.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2013darkgray.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2013lightgray.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2013white.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.visualstudio2013.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.lime.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.saffron.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2016darkgray.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2016colorful.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office2016white.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.visualstudio2015.wpf" version="17.3.0.14" />
  <package id="syncfusion.themes.office365.wpf" version="17.3.0.14" />
  <package id="syncfusion.sfskinmanager.wpf" version="17.3.0.14" />
  <package id="syncfusion.licensing" version="17.3.0.14" />
  <package id="Syncfusion.DocIO.Wpf" version="17.3.0.14" />
</packages>