<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.chart.wpf" version="17.3.0.14" />
  <package id="Syncfusion.DocIO.Wpf" version="17.3.0.14" />
  <package id="syncfusion.olap.base" version="17.3.0.14" />
  <package id="syncfusion.olapchart.wpf" version="17.3.0.14" />
  <package id="syncfusion.grid.wpf" version="17.3.0.14" />
  <package id="syncfusion.gridcommon.wpf" version="17.3.0.14" />
  <package id="Syncfusion.ExportOlapChart.Wpf" version="17.3.0.14" />
  <package id="syncfusion.olapclient.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapgrid.wpf" version="17.3.0.14" />
  <package id="syncfusion.olapgridcommon.wpf" version="17.3.0.14" />
  <package id="Syncfusion.ExportOlapGrid.Wpf" version="17.3.0.14" />
  <package id="syncfusion.olapsampleutils" version="17.3.0.14" />
  <package id="syncfusion.olaptools.wpf" version="17.3.0.14" />
  <package id="Syncfusion.Pdf.Wpf" version="17.3.0.14" />
  <package id="syncfusion.shared.wpf" version="17.3.0.14" />
  <package id="syncfusion.tools.wpf" version="17.3.0.14" />
  <package id="syncfusion.tools.wpf.resources" version="17.3.0.14" />
  <package id="syncfusion.linq.base" version="17.3.0.14" />
  <package id="syncfusion.officechart.base" version="17.3.0.14" />
  <package id="syncfusion.compression.base" version="17.3.0.14" />
  <package id="Syncfusion.XlsIO.Wpf" version="17.3.0.14" />
  <package id="syncfusion.olapshared.wpf" version="17.3.0.14" />
  <package id="syncfusion.licensing" version="17.3.0.14" />
</packages>