<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.calculate.base" version="33.2.3" />
  <package id="syncfusion.compression.base" version="33.2.3" />
  <package id="syncfusion.grid.wpf" version="33.2.3" />
  <package id="syncfusion.gridcommon.wpf" version="33.2.3" />
  <package id="syncfusion.linq.base" version="33.2.3" />
  <package id="syncfusion.tools.wpf" version="33.2.3" />
</packages>