<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.data.wpf" version="16.2.0.41" />
  <package id="syncfusion.pmml.base" version="16.2.0.41" />
  <package id="syncfusion.sfbusyindicator.wpf" version="16.2.0.41" />
  <package id="syncfusion.sftreenavigator.wpf" version="16.2.0.41" />
  <package id="syncfusion.sfshared.wpf" version="16.2.0.41" />
  <package id="syncfusion.sfgrid.wpf" version="16.2.0.41" />
  <package id="syncfusion.shared.wpf" version="16.2.0.41" />
  <package id="syncfusion.tools.mvvm.wpf" version="16.2.0.41" />
  <package id="syncfusion.tools.wpf" version="16.2.0.41" />
  <package id="syncfusion.licensing" version="16.2.0.41" />
</packages>