<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.data.wpf" version="32.1.19" />
  <package id="syncfusion.sfgrid.wpf" version="32.1.19" />
  <package id="syncfusion.grid.wpf" version="32.1.19" />
  <package id="syncfusion.gridcommon.wpf" version="32.1.19" />
  <package id="syncfusion.compression.base" version="32.1.19" />
  <package id="Syncfusion.XlsIO.Wpf" version="32.1.19" />
  <package id="Syncfusion.Pdf.Wpf" version="32.1.19" />
  <package id="syncfusion.pdfviewer.wpf" version="32.1.19" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="32.1.19" />
</packages>